 <div class="modal fade" id="FileModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add File</h4>
      </div>
      <div class="modal-body">
      <!--
        <form action="/api/upload/dropbox" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" placeholder="Your File" autofocus required/> 
          <span class="pull-right">
      		  <button class="btn btn-success" type="submit">Upload</button> 
          </span>           
        </form>    
       -->
       <form role="form" action="/api/upload/dropbox" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label>Select your file</label>
          <input type="file" name="file" autofocus required/>
          <input class="btn btn-lg btn-success pull-right" type="submit" value="Upload">
        </div>
      </form> 
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>
  </div>
</div>