<div class="modal fade" id="FolderModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Folder</h4>
      </div>
      <div class="modal-body">
      	<h3 align="center">
          <form method="GET" action="/api/create/dropbox">
      			<input type="text" name="path" size="7" required/>
        		<button type="submit" class="btn btn-success">Create</button>
          </form>
        </h3>		 
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
      </div>
    </div>
  </div>
</div>