<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
  <body>
  	<div class="container" class="center">
  	  <div class="col-md-6 ">
	  	<img src="/img/logo.png" width="400px" class="pull-right">
	  </div>
	  <div class="col-md-6">
		  <p>
		  	<br><br><br><br><br><br>
		  	<b>404.</b> <ins>That’s an error.</ins>
		  	<p>Sorry, we could not find the URL <%= url %> on this server.  </p>
		  	<a href="/">Go back home</a>
		  </p>
	  </div>
	</div>  
</body>
</html>