	<title>CloudFile</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Fly trough your files with a real infinite drive, save time, space and money with us! Sign up for one month free">
  <meta name="author" content="CloudFile LLC">
  <meta name="keywords" content="Files Space Cloud Services Dropbox Box Mega Drive Onedrive Cloud File app CloudFileapp CloudFile app">
  <meta name="google-site-verification" content="01DRbaP1QsI8omMw83vy7Dj0d0_7YXL2gnPIYbq7GHc" />
  <link rel="shortcut icon" href="img/favicon.ico">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.2/paper/bootstrap.min.css">
	<!--<link rel="stylesheet" href="/css/metro-bootstrap.css">-->
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">	
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50868347-1', 'auto');
  ga('send', 'pageview');
</script>  	