<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" style="background: #39B3D7;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-bars"></span>
        <!--
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        -->
      </button>
      <a class="navbar-brand" href="/"><b><span class="fa fa-cloud"></span>&nbsp;CloudFile</b></a>
    </div>
    <div class="navbar-collapse collapse navbar-right">

    <div class="hidden-xs">
      <div class="btn-group">

        <a href="/" type="button" class="btn btn-primary btn-lg"><span class="fa fa-home"></span> </a>

        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Menu</span>
        </button>

        <ul class="dropdown-menu" role="menu">
          <li><a href="/profile"><span class="fa fa-user"></span>&nbsp;&nbsp;&nbsp;Account</a> </li>
          <!--<li><a href="/billing"><span class="fa fa-credit-card"></span> &nbsp;Billing</a></li>-->
          <li><a href="#"><span class="fa fa-building"></span>&nbsp;&nbsp; Business <small>Coming Soon</small></a></li>
          <li class="divider"></li>
          <li><a href="/logout"><span class="fa fa-sign-out"></span>&nbsp;&nbsp;&nbsp;Sign Out</a></li>
        </ul>
      </div>
    </div>
      <ul class="nav navbar-nav visible-xs" style="background: #39B3D7;">
      	<li><a href="/profile">Account</a></li>
        <li><a href="/billing">Billing</a></li>
        <li><a href="/logout">Sign out</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
