<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
 	<% include partials/menu.ejs %>
<div class="container">
	<div class="page-header">
		<h4><span class="fa fa-credit-card"></span> Billing</h4>
	</div>
	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-md-4">
		  <div class="panel panel-info">
		     <div class="panel-heading"><h3 class="text-center">Basic</h3></div>
		         <div class="panel-body text-center">
		      <p class="lead" style="font-size:40px"><strong>$2 / month</strong></p>
		    </div>
	            <ul class="list-group list-group-flush text-center">
	              <li class="list-group-itesm"><i class="icon-ok text-danger"></i>Personal service</li>
	              <li class="list-group-item"><i class="icon-ok text-danger"></i>Dropbox, Google Drive, Box </li>
	              <li class="list-group-item"><i class="icon-ok text-danger"></i>Multiple functions and apps</li>
	              <li class="list-group-item"><i class="icon-ok text-danger"></i> 24/7 support</li>
	            </ul>
		    <div class="">
		    	<a href="/" class="btn btn-lg btn-block btn-info text-center"></a>
		  	</div>
		 </div>
		</div>

		<div class="col-sm-6" >
			<h3><span class="fa fa-paypal"></span> Paypal</h3>	
			<div align="center">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="45EDQZTEVSZHU">
					<table>
					<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
						<option value="Month">Month : $2.00 USD - mensual</option>
						<option value="Yearly">Yearly : $20.00 USD - mensual</option>
					</select> </td></tr>
					<tr><td><input type="hidden" name="on1" value="Promotion Code">Promotion Code</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
					</table>
					<br><br><br><br><br><br>					
					<input type="hidden" name="currency_code" value="USD">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">					
					<br><br><br><br><br>
				</form>
			</div>				
		</div>		
	</div>

	<div class="centered">
		<hr>
		<p>&copy; CloudFile. 2015	</p>
	</div>

</div>
    <% include partials/scripts %>
    <script type="text/javascript">

    </script>
</body>
</html>