<!doctype html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
 <% include partials/menu.ejs %>
 <div class="container" ng-app="api" >
	<div class="row">
		<div class="col-sm-12" ng-controller="api">
		
			<div class="page-header">			
			
				<h4>
					<span class="fa fa-home">&nbsp;Files</span>
					<span class="pull-right">
						<a title="Add folder" href="#" data-toggle="modal" data-target="#FolderModal">+<span class="fa fa-folder"> </span></a>
						&nbsp;
						<a title="Upload file" href="#" data-toggle="modal" data-target="#FileModal">+<span class="fa fa-file"> </span></a>
						&nbsp;  <input type="text" placeholder="Search" size="25" ng-model="searchText">
				    </span>
				</h4>
			
			</div>
			
			<div class="col-sm-2 hidden-xs">
				<div class="btn-group-vertical" role="group" aria-label="Side Bar">
					
					<button id="menuLateral" type="button" class="btn btn-default"><span class="fa fa-tags"></span> Tags</button>
				    <button id="menuLateral" type="button" class="btn btn-default"><span id="star" class="fa fa-star"></span> Favorites</button>
					<button id="menuLateral" type="button" class="btn btn-default"><span id="lock" class="fa fa-lock"></span> Private Files</button>
					
					<div class="btn-group" role="group">
					  <button id="menuLateral"  type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					    <span class="fa fa-inbox"></span> Services
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					  	<li><a>Hide a service</a></li>
					  	<li class="divider"></li>
					  	<% if (usuario.dropbox.token){ %>
					    	<li><a href="#"><i class="fa fa-dropbox"></i>&nbsp;Drobpox&nbsp;
					   			<input type="checkbox" ng-model="enableDropbox" class="pull-right"></a>
					   		</li>
					   	<%}%>
						<% if (usuario.google.token){ %>
					    	<li>
					    		<a href="#"><i class="fa fa-google-plus"></i>&nbsp;Google Drive&nbsp;
					    		<input type="checkbox" ng-model="enableDrive" class="pull-right"></a>
					    	</li>
					    <%}%>
					    <% if (usuario.box.token){ %>
					      	<li>
					    		<a href="#"><i class="fa fa-inbox"></i>&nbsp;Box&nbsp;
					    			<input type="checkbox" ng-model="enableBox" class="pull-right">
					    		</a>
					    	</li>
					    <%}%>
					    <% if (usuario.copy.token){ %>
					    	<li>
						    	<a href="#"><i class="fa fa-cloud"></i>&nbsp;Onedrive&nbsp;
						    		<input type="checkbox" ng-model="enableOnedrive">
						    	</a>
					    	</li>
					    <%}%>
					  </ul>
					</div>
				</div>
			</div>
			<div class="col-sm-10">
				<table class="table table-condensed table-hover">
					<!--
				    <thead>
				        <tr>
				            <th><small>Name</small></th>
				            <th><small class="centered">Type</small></th>
				            <th><small class="pull-right">Modified</small></th>
				        </tr>
				    </thead>
				    -->
				    <tbody>
				        <tr ng-hide="enableDropbox" ng-repeat="file in dropbox | filter:searchText">
				            <td>
				            	<!-- iconos -->
				            	<span ng-show="file.is_dir"  class="fa fa-folder icon"></span>
				            	<span ng-show="file.path.substring(file.path.lastIndexOf('.'))=='.pdf'" class="fa fa-file-pdf-o icon"></span>
				            	<span ng-show="file.path.substring(file.path.lastIndexOf('.'))=='.jpg' || file.path.substring(file.path.lastIndexOf('.'))=='.png'" class="fa fa-file-image-o icon"></span>
				            	<span ng-show="file.path.substring(file.path.lastIndexOf('.'))=='.zip' || file.path.substring(file.path.lastIndexOf('.'))=='.rar'" class="fa fa-file-archive-o icon"></span>
				            	<span ng-show="file.path.substring(file.path.lastIndexOf('.'))=='.doc' || file.path.substring(file.path.lastIndexOf('.'))=='.docx'" class="fa fa-file-word-o icon"></span>
				            	<span ng-show="file.path.substring(file.path.lastIndexOf('.'))=='.xls' || file.path.substring(file.path.lastIndexOf('.'))=='.xlsx'" class="fa fa-file-excel-o icon"></span>
								<span ng-show="file.path.substring(file.path.lastIndexOf('.'))=='.ppt' || file.path.substring(file.path.lastIndexOf('.'))=='.pptx'" class="fa fa-file-powerpoint-o icon"></span>
											<!-- fin iconos -->
				            	&nbsp;
				            	<a class="archivos" href="/dfolder?ruta={{file.path}}">
					            	{{::file.path.replace("/"," ")}}
					            </a>
				            </td>
				            <td class="text-center hidden-xs">
				            <!--<a href="#" >{{ ::file.icon}}</a>-->
				            </td>
				            <td class="text-right">
				            	<div class="btn-group text-left">
								  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu dropdown-menu-right" role="menu">
								  	<li><a href="api/download/dropbox?file={{file.path}}"><span class="fa fa-download"></span> Download</a></li>
								    <li><a href="/api/delete/dropbox?file={{file.path}}"><span class="fa fa-times"></span> Delete</a></li>
								    <li><a href="/share/dropbox/?link={{file.path}}"><span class="fa fa-share"></span> Share</a></li>
								    <li class="divider"></li>
								    <li><a href="#"><span class="fa fa-more"></span>...</a></li>
								  </ul>
								</div>
				            </td>
		        		</tr>
		        		<tr ng-hide="enableBox" ng-repeat="file in box | filter:searchText ">
				            <td>
				            	<!-- iconos -->
				            	<span ng-show="file.type=='folder'"  class="fa fa-folder icon"></span>
				            	<span ng-show="file.name.substring(file.name.lastIndexOf('.'))=='.pdf'" class="fa fa-file-pdf-o icon"></span>
				            	<span ng-show="file.name.substring(file.name.lastIndexOf('.'))=='.jpg' || file.name.substring(file.name.lastIndexOf('.'))=='.png'" class="fa fa-file-image-o icon"></span>
				            	<span ng-show="file.name.substring(file.name.lastIndexOf('.'))=='.zip' || file.name.substring(file.name.lastIndexOf('.'))=='.rar'" class="fa fa-file-archive-o icon"></span>
				            	<span ng-show="file.name.substring(file.name.lastIndexOf('.'))=='.doc' || file.name.substring(file.name.lastIndexOf('.'))=='.docx'" class="fa fa-file-word-o icon"></span>
				            	<span ng-show="file.name.substring(file.name.lastIndexOf('.'))=='.xls' || file.name.substring(file.name.lastIndexOf('.'))=='.xlsx'" class="fa fa-file-excel-o icon"></span>
											<span ng-show="file.name.substring(file.name.lastIndexOf('.'))=='.ppt' || file.name.substring(file.name.lastIndexOf('.'))=='.pptx'" class="fa fa-file-powerpoint-o icon"></span>
				            	<!-- fin iconos -->&nbsp;
					            <a href="/bfolder?id={{file.id}}&name={{file.name}}&type={{file.type}}" class="archivos">{{ ::file.name}}</a>
				            </td>
				            <td class="text-center hidden-xs">
				            	<!--<a > {{ ::file.name.slice(file.name.lastIndexOf(".")+1) }}</a>-->
				            </td>
				            <td class="text-right">
				            	<div class="btn-group text-left">
								  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu dropdown-menu-right" role="menu">
								    <li class="warning"><a href="/delete/dropbox?file={{file.path}}">
								    	<span class="fa fa-times"></span>&nbsp;Delete</a></li>
								    <li><a href="#"><span class="fa fa-move"></span> &nbsp;Share</a></li>
								    <li class="divider"></li>
								    <li><a href="#"><span class="fa fa-download"></span> &nbsp;Download</a></li>
								  </ul>
								</div>
	            			</td>
		        		</tr>

			        	<tr ng-hide="enableDrive" ng-repeat="file in google | filter:searchText ">
				            <td>
				            	<span ng-show=" (file.mimeType.slice(file.mimeType.lastIndexOf('.')+1)) == 'folder' " class="fa fa-folder icon"></span>
				            	<span ng-show="file.title.substring(file.title.lastIndexOf('.'))=='.pdf'" class="fa fa-file-pdf-o icon"></span>
				            	<span ng-show="file.title.substring(file.title.lastIndexOf('.'))=='.jpg' || file.title.substring(file.title.lastIndexOf('.'))=='.png'" class="fa fa-file-image-o icon"></span>
				            	<span ng-show="file.title.substring(file.title.lastIndexOf('.'))=='.zip' || file.title.substring(file.title.lastIndexOf('.'))=='.rar'" class="fa fa-file-archive-o icon"></span>
				            	<span ng-show="file.title.substring(file.title.lastIndexOf('.'))=='.doc' || file.title.substring(file.title.lastIndexOf('.'))=='.docx'" class="fa fa-file-word-o icon"></span>
				            	<span ng-show="file.title.substring(file.title.lastIndexOf('.'))=='.xls' || file.title.substring(file.title.lastIndexOf('.'))=='.xlsx'" class="fa fa-file-excel-o icon"></span>
											<span ng-show="file.name.substring(file.name.lastIndexOf('.'))=='.ppt' || file.name.substring(file.name.lastIndexOf('.'))=='.pptx'" class="fa fa-file-powerpoint-o icon"></span>
											<span ng-show="file.title.substring(file.title.lastIndexOf('.'))==file.title" class="fa fa-file-o icon"></span>
				            	&nbsp;
					            <a class="archivos" href="/gfolder?ruta={{file.id}}&name={{file.title}}&url={{file.alternateLink}}" >
						            {{ ::file.title}}
					            </a>
				            </td>
				            <td class="text-center hidden-xs">
				            </td>
				            <td class="text-right">
				            	<div class="btn-group text-left">
								  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu dropdown-menu-right" role="menu">
								    <li><a href="#"><span class="fa fa-times"></span>&nbsp;Delete</a></li>
								    <li><a href="#"><span class="fa fa-move"></span> &nbsp;Move</a></li>
								    <li class="divider"></li>
								    <li><a href="{{file.downloadURL}}"><span class="fa fa-download"></span> {{ ::file.downloadURL}}&nbsp;Download</a></li>
								  </ul>
								</div>
				            </td>
		        		</tr>
		        		<!--
		        		<tr ng-repeat="file in skydrive | filter:searchText">
				            <td> <a href="#" > <span class="fa fa-{{file.icon}}"></span>{{file.title}}  </a> </td>
				            <td class="centered"> {{file.fileExtension}}  </td>
				            <td class="pull-right">	{{file.modifiedDate}}</td>
		        		</tr>
		        		-->
		        	</tbody>
				</table>


		</div>
	</div>
</div>
<!-- Modal for the users -->

<% include modals/FolderModal.ejs %>
<% include modals/FileModal.ejs %>

</div>
	<% include partials/scripts %>
	<script src="/js/angular.min.js"></script>
	<script src="/js/api.js"></script>
	<script src="/js/events.js"></script>
</body>
</html>
