<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	<!--<link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet'>	-->
</head>
<body id="main">
<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=666628476740132&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
		<div class="container">
			<div class="header">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li><a href="login" class="btn btn-info">Sign in</a></li>
						<!--<li><a class="btn btn-info"href="signup">Sign up</a></li>-->
					</ul>
				</nav>
				<h3 class="text-default"><span class="fa fa-cloud"></span> CloudFile</h3>
			</div><!--Header -->
			<br><br>
			<div class="row">
				<div class="col-lg-6" align="center" style="padding:100px;">
					<img src="img/icon.png"  alt="Welcome" />
				</div>
				<div class="col-lg-6" style="padding-top:100px;">
					<p class="lead">
						<br><br>
						Build your own cloud, get an infinite drive to add all your files and get instant access for free<br><br>
						<a href="signup" class="btn btn-block btn-lg btn-warning"><span class="fa fa-gift"></span> Sign up now!</a>
					</p>
				</div>
			</div><!--jumbotron -->

			<div class="row" style="padding-bottom:100px; padding-top:50px;">
				<h3 align="center">
					CloudFile <br><br><br><span class="fa fa-plus"></span><br><br>
				</h3>
				<div class="col-lg-3">
					<img class="img-responsive logosPartners" src="img/dropbox.png" title="Dropbox" style="width: 70px; height: 70px;">
				</div><!-- /.col-lg-3 -->
				<div class="col-lg-3">
					<img class="img-responsive logosPartners" src="img/google-drive.png" title="Google Drive" style="width: 70px; height: 70px;">
				</div><!-- /.col-lg-3 -->
				<div class="col-lg-3">
					<img class="img-responsive logosPartners" src="img/skydrive.png" title="Onedrive" style="width: 70px; height: 70px;">

				</div><!-- /.col-lg-3 -->
				<div class="col-lg-3">
					<img class="img-responsive logosPartners" src="img/box.png" title="Box" style="width: 130px; height: 70px;">
				</div><!-- /.col-lg-3 -->
			</div><!-- /.row -->
			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-5" align="center">
					<img class="featurette-image img-responsive" src="img/SET/phone.png" alt="Generic placeholder image">
				</div>
				<div class="col-md-7" style="padding-top:100px;">
					<h2 class="featurette-heading">Oh yeah, <span class="text-muted">one app to rule them all.</span></h2>
					<p class="lead">One screen, one password, all your files to work in one place on every device, never forget where are them again.</p>
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">Share & collaborate. <span class="text-muted">Easier.</span></h2>
					<p class="lead">Improve your productivity with our tools to share faster and work with your team. Never miss a thing again</p>
				</div>
				<div class="col-md-5" align="center">
					<img class="featurette-image img-responsive" src="img/SET/message.png" alt="Generic placeholder image">
				</div>
			</div>

			<hr class="featurette-divider">

			<div class="row featurette">
				<div class="col-md-5" align="center">
					<img class="featurette-image img-responsive" src="img/SET/lupa.png" alt="Generic placeholder image">
				</div>
				<div class="col-md-7">
					<h2 class="featurette-heading">Find everything. <span class="text-muted">See everything.</span></h2>
					<p class="lead">The cloud is the place to work with your files, collaborate with your team, save time and money.</p>
				</div>
			</div>

			<hr class="featurette-divider">
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading">Organize your files. <span class="text-muted">It'll blow your mind.</span></h2>
					<p class="lead">Tag your files to keep them organized, #Work, #Family, find them faster.</p>
				</div>
				<div class="col-md-5" align="center">
					<img class="featurette-image img-responsive" src="img/SET/news.png" alt="Edit in the cloud">
				</div>
			</div>

			<!-- /END THE FEATURES -->
				<div class="container" align="center" id="bottom">
				<!--
					<br><p>We are currently on private beta <p/>
					<a class="btn btn-primary btn-lg" href="/signup"><span class="fa fa-gift"></span> Sign Up for 30 days free</a>
					<a class="btn btn-default btn-lg" href="/login">Sign In</a>
				-->
				</div>

			<!-- FOOTER -->
			<footer>
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>&copy; 2015 CloudFile LLC. &middot;
				<div class="fb-like" data-href="https://www.facebook.com/CloudFileApp" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></p>
			</footer>

		</div><!-- /.container -->
	<%= include partials/scripts %>
	<script>
	    $('.carousel').carousel({
	        interval: 3000
	    })
	</script>
</body>
</html>
