<!doctype html>
<html>
<head>
	<% include partials/head %>		
</head>
<body>
<div id="wrapper">
	<div class="login-container center-block rounded-border row" >				
		<div class="login-header text-center lead">Sign in
			<!--<img src="img/cloud.png" width="100%">-->
		</div>
		<% if (message.length > 0) { %>
			<div align="center"class="alert alert-danger"><%= message %></div>
		<% } %>		
		<!--
		<div class="login-fb col-xs-12 col-md-12" align="center">
			<a class="btn-facebook btn-lg" href="/connect/facebook">
				<i class="fa fa-facebook fa-lg btn-lg"></i>
				<i class="vertical-separator"></i>
				Sign in with Facebook
			</a>
		</div>				

		<div class="login-label text-center col-xs-12 col-md-12">- or -</div> LOGIN FORM -->		
		<div class="login-inputs col-xs-12 col-md-12">
			<form action="/login" method="post">
					<input class="form-control center-block" type="email" class="form-control" name="email" placeholder="Email"autofocus required>			
					<input class="form-control center-block" type="password" class="form-control" name="password" placeholder="Password"required>
					<br><br>
					<button class="login-button btn btn-lg btn-primary btn-block" type="submit">Log in</button>
			</form>
			<br><br>
		</div>
	</div>
</div>	
<div class="text-center">
	<br>
	<p>&copy; CloudFile. 2015	</p>
</div>
</body>
</html>