<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
</head>
<body>
 	<% include partials/menu.ejs %>

<div class="container">

	<div class="page-header">
	<!--
		<h4><span class="fa fa-user"></span> Account</h4>
		<p>Account state</p>
		<% if(typeof(error)!=='undefined'){ %>
			   <div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<%= error %>
				</div>
		<% } %>
		-->
	</div>

		<% if(typeof(error)!=='undefined'){ %>
			   <div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<%= error %>
				</div>
		<% } %>

<!-- ROW CLOUD SERVICES -->
<div class="row" align="center">

<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
			<div class="">
				<div class="col-sm-6">
					<h5 class="text-default"><span class="fa fa-user"></span> Account details</h5>
				</div>
				<div class="col-sm-6">
					
					<% if (user.local.email) { %>
						<p>
							<i></i> <%= user.local.email %><br>
						</p>

					<% } else { %>
						<p></p>
					<% } %>
				</div>
				<br><br><br>

			</div>
		</div>
<!-- DROPBOX INFORMATION -->
		<div class="col-sm-12">
			<div class="">
				<div class="col-sm-6">
					<h5><span class="fa fa-dropbox text-primary"></span> Dropbox</h5>
				</div>
				<div class="col-sm-6">					
					<p>
						<% if (user.dropbox.token) { %>
							<strong></strong>
							<a href="/unlink/dropbox" class="btn btn-primary">&nbsp;Unlink&nbsp;</a>
						<% } else { %>
							<a href="/connect/dropbox" class="btn btn-primary">Connect</a>
						<% } %>
					</p>
				</div>
				<br><br><br>
			</div>
		</div>

	

<!-- FACEBOOK INFORMATION -
		<div class="col-sm-12">
			<div class="">
				<div class="col-sm-6">
					<h5><span class="fa fa-facebook text-default"></span> Facebook </h5>
				</div>
				<div class="col-sm-6">
					
					<% if (user.facebook.token) { %>
						<p>
							<strong>Name</strong>: <%= user.facebook.name %><br>
							<strong>Email</strong>: <%= user.facebook.email %><br>
						</p>


					<% } else { %>
						<a href="/connect/facebook" class="btn btn-info">Connect Facebook</a>
					<% } %>
				</div>
				<br><br><br>
			</div>
		</div>

-->		

<!-- GOOGLE INFORMATION -->
		<div class="col-sm-12">
			<div class="">
				<div class="col-sm-6">
					<h5><span class="fa fa-google-plus text-danger"></span> Google Drive</h5>
				</div>
				<div class="col-sm-6">
				
					<% if (user.google.token) { %>
						<p>
							<strong></strong>
							<a href="/unlink/drive" class="btn btn-danger">&nbsp;Unlink&nbsp;</a>
					<% } else { %>
						<a href="/connect/drive" class="btn btn-danger" >Connect</a>

					<% } %>
						</p>
				</div>
				<br><br><br>
			</div>
		</div>


	
<!-- Copy INFORMATION -->
		<div class="col-sm-12">
			<div class="">
				<div class="col-sm-6">
					<h5><span class="fa fa-inbox text-warning"></span> Copy</h5>
				</div>
				<div class="col-sm-6">
				
					<% if (user.copy.token) { %>
						<p>
							<strong>id</strong>: <%= user.copy.id %><br>
							<strong>token</strong>: <%= user.copy.token %><br>
							<strong>display name</strong>: <%= user.copy.displayName %><br>
							<strong>username</strong>: <%= user.copy.username %>
						</p>
						<a href="/unlink/copy" class="btn btn-warning">&nbsp;Unlink&nbsp;</a>
					<% } else { %>
						<a href="/connect/copy" class="btn btn-warning" target="_blank" disabled >Connect</a>
					<% } %>
				</div>
				<br><br><br>
			</div>
		</div>



		<!-- BOX INFORMATION -->
		<div class="col-sm-12">
			<div class="">
				<div class="col-sm-6">
					<h5><span class="fa fa-inbox text-primary"></span> Box</h5>
				</div>
				<div class="col-sm-6">
					
					<% if (user.box.token) { %>
						<p>
							<strong></strong>
							<a href="/unlink/box" class="btn btn-primary">&nbsp;Unlink&nbsp;</a>
					<% } else { %>
						<a href="/connect/box" class="btn btn-primary">Connect</a>
					<% } %>
						</p>
				</div>
				<br><br><br>
			</div>
		</div>
	</div><!-- row end -->


	<div class="centered">
		<hr>
		<p>&copy; CloudFile. 2015	</p>
	</div>
</div>	<!-- Container end-->

		<% include partials/scripts %>
	</body>
</html>
