<!doctype html>
<html>
<head>
	<% include partials/head %>	
</head>
<body>
    <% include partials/menu %>
<div class="container">
	
	<div class="page-header">
		<h3><span class="fa fa-share"></span> Share</h3>
	</div>

	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12" >
				<div class="well">
					<p>
						<%= name.substring("0",name.lastIndexOf(".")).replace("/"," ")%>
							<% if(typeof(link)!=='undefined'){ %>
							<textarea class="pull-right"  rows="3" cols="50" ><%= link %></textarea>
							<% } %> 
							
							<% if(typeof(drivelink)!=='undefined'){ %>
							   <textarea class="pull-right" rows="3" cols="50" wrap="hard"><%= drivelink %></textarea>
					        <% } %>  
					</p>		
			         
					<a href="/" class="btn btn-success">Done</a>			
				</div>		
		</div>
	</div>
	<div class="centered">
		<hr>
		<p>&copy; CloudFile. 2014	</p>
	</div>
</div>
	<% include partials/scripts %>
</body>
</html>