<!doctype html>
<html>
<head>
	<% include partials/head %>	
</head>
<body>
<div id="wrapper">	
	<div class="login-container center-block rounded-border row" >	
		<h3 align="center"><span class="fa fa-cloud"></span> Create an account!</h3>
		<br><br>	
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>
		<!--
		<div class="login-fb col-xs-12 col-md-12" align="center">
			<a class="btn-facebook btn-lg" href="/connect/facebook">
				<i class="fa fa-facebook fa-lg btn-lg center block"></i>
				<i class="vertical-separator"></i>
				Sign up with Facebook
			</a>
		</div>
		-->
		<br><br><br>	
		<!-- LOGIN FORM -->
		<div class="login-inputs col-xs-12 col-md-12">
			<form action="/signup" method="post">	
				<input type="email" class="form-control center-block" name="email" placeholder="Email" required autofocus>	
				<input type="password" class="form-control center-block" name="password" placeholder="Password" required>
				<input type="text" class="form-control center-block" name="code" placeholder="Coupon code"><br>
				<button type="submit" class="login-button btn btn-lg btn-primary btn-block">Signup</button>			
		<br><br>
		</form>	
		</div>		
	</div>
</div>
	<div class="text-center">
		<br><br><br>
		<p>&copy; CloudFile. 2014	</p>
	</div>
	<% include partials/scripts %>
</body>
</html>