 /*  background-color: #f2f2f2; */
 }
.borderless > tbody > tr > td {
    border: none;
}
.page-header{
	border-bottom-style: none;
    border-top-style: none;
    padding-bottom: 20px;
    padding-top: 0px;
}
.indextext{
	padding-top:10px;
	color:#fff;
	font-family:Arial;
	size:50px;
}

#menuLateral {
    color: #359EF3;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}
#menuLateral span {
    color: #95A5A6;
}

#menuLateral #star{
    color: #DBA901;
}

#menuLateral #lock{
    
}

#menuLateral #service{
   color: #1abc9c;
}

tbody{
    position: absolute;  
    //overflow-y: scroll; 
    height: 670px;  
    width: 100%;
}

td{
    width: 316px;
}
body{
        padding-top: 70px;
        word-wrap:break-word; 
    }

#main{
    padding-top: 0px;
}    
   
/*

body {    
    /*
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    word-wrap:break-word;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
  
}
*/

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 40px;
}

h3 {
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}
small{
	color:#CCC;
}
/* Links 
 color: #3498db;*/
a {
   	color:#A4A4A4;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}



.navbar-default {
	background-color: #3498db;
	border-color: transparent;
}

.navbar-default, .navbar-brand {	
    color: #39B3D7;    
}

.navbar-default, .navbar-nav > li > a {
	color: white;
}

.navbar{
    background: white;
    border-color:white;
}
/* Helpers */

.mt {
	margin-top: 80px;
	margin-bottom: 80px;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {	
	color: #3498db; 
}

.archivos{
    font-size: 15px;
    font-family: Arial;
    color: #6E6E6E;    
}
.archivos:hover{
    text-decoration: underline;
}

/* HeaderWrap */
#headerwrap {
	/* background: url(../img/bg01.jpg) no-repeat center top; */
	background-color: #3498db;
	margin-top: -20px;
	padding-top:200px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}
#footer{ position: fixed; bottom: 0; }


/**scrolbars*/

/* Gmail style scrollbar */
::-webkit-scrollbar {
    width: 12px
}
::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px
}
::-webkit-scrollbar-track {
    border-width: 0
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(220,172,0,.05);
    box-shadow: inset 1px 0 0 rgba(220,172,0,.1);
}
::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(220,172,0,.1)
}
::-webkit-scrollbar-track:active {
    background-color: rgba(220,172,0,.05);
    box-shadow: inset 1px 0 0 rgba(220,172,0,.14),inset -1px 0 0 rgba(220,172,0,.07);
}
::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(220,172,0,.14),inset 0 -1px 0 rgba(220,172,0,.07)
}
::-webkit-scrollbar-thumb {
    background-color: rgba(220,172,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(220,172,0,.1),inset 0 -1px 0 rgba(220,172,0,.07);
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(220,172,0,.1),inset -1px 0 0 rgba(220,172,0,.07);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(220,172,0,.4);
    box-shadow: inset 1px 1px 1px rgba(220,172,0,.25);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(220,172,0,0.5);
    box-shadow: inset 1px 1px 3px rgba(220,172,0,0.35);
}
::-webkit-scrollbar-track {
    border-width: 0 1px 0 6px
}
::-webkit-scrollbar-track:horizontal {
    border-width: 6px 0 1px
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(220,172,0,.035);
    box-shadow: inset 1px 1px 0 rgba(220,172,0,.14),inset -1px -1px 0 rgba(220,172,0,.07);
}
::-webkit-scrollbar-thumb {
    border-width: 0 1px 0 6px
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 0 1px
}
::-webkit-scrollbar-corner {
    background: transparent
}
body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 0 0 0 3px;
    box-shadow: inset 1px 0 0 rgba(220,172,0,.14),inset -1px 0 0 rgba(220,172,0,.07);
}
body::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    box-shadow: inset 0 1px 0 rgba(220,172,0,.14),inset 0 -1px 0 rgba(220,172,0,.07);
}
body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px
}
body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px
}
body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    box-shadow: inset 1px 1px 0 rgba(220,172,0,.14);
}

/*** Estilos de Login ***/

hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.center-block{
    margin: 0 auto; /* Elements block */
    left: 0; /* Elements absolute/fixed **/
    right: 0;
    width: 100%;
}
.rounded-border{
    border-radius: 10px;
}
.vertical-separator{
    margin-left: 5px;
    margin-right: 5px;
    border-right: 1px solid #CCC;
}
.helpers{
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

/*Extras*/
.fb-button{
    background-color: #3b5998;
    color: #fff;
    width: 100%;
}

/*Log in*/
.login-container{
    position: relative;
    max-width: 350px;
    padding: 10px;
    color: #727680;
    border: none;
    background-color: #fff;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
}
    .login-header{
        font-size: 50px;
        margin-bottom: 20px;
    }
    .login-label{
        opacity: 0.7;
        padding: 10px;
    }
    .login-inputs input{
        display: block;
        height: 50px;
        margin-bottom: 10px;
    }
    .login-button{
        font-size: 1.1em;
        font-weight: lighter;
    }
    .logosPartners{
        display: block;
        margin: 0 auto;
    }

 /*Iconos*/   
 .icon{
    color:#FAAC58;
 }
 .iconFolder{
    color:#39B3D7;
 }


 /* =================SEARCH TEXT======================= */

 
form.search-form input.search-text {
font-size: 130%;
color: #8D8D8D;
-webkit-font-smoothing: antialiased;
font-family: sans-serif;
background-color: #FFF;
display: block;
width: 200px;
height: 20px;
padding: 20px 15px;
border: none;
float: left;
}

form.search-form input.search-submit {
display: block;
height: 60px;
width: 60px;
border: none;
background-color: #FFF;
//background-image: url("/Demos/simple-flat-white-search-form/search-icon.png");
float: left;
cursor: pointer;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

form.search-form input.search-submit:hover{
//background-image: url("/Demos/simple-flat-white-search-form/search-icon-hover.png");
}

form.search-form {
margin: 10px 0px;
padding: 0;
border: 1px solid #EEE;
width: 290px;
height: auto;
}

form.search-form input.search-text::-webkit-input-placeholder   {
color:#CCCCCC;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

form.search-form input.search-text::-moz-placeholder    {
color:#CCCCCC;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

form.search-form input.search-text::-ms-input-placeholder{
color:#CCCCCC;
-webkit-transition: all 0.2s ease;
-ms-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

form.search-form input.search-text:focus::-webkit-input-placeholder {color:transparent;}
form.search-form input.search-text:focus::-moz-placeholder {color:transparent;} 
form.search-form input.search-text:focus:-moz-placeholder {color:transparent;}
form.search-form input.search-text:focus::-ms-input-placeholder {color:transparent;}