<!doctype html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
<% include ../partials/menu.ejs %>
<div class="container" ng-app="file">
<div class="row">
		<div class="page-header">
			<h3><span class="fa fa-home"></span> <a href="/">Home</a><%= ruta %>
				<p class="pull-right">
					<a title="Add folder" href="#" data-toggle="modal" data-target="#FolderModal">+<span class="fa fa-folder"> </span></a> &nbsp;
					<a title="Upload file" href="#" data-toggle="modal" data-target="#FileModal">+<span class="fa fa-file"> </span></a> &nbsp;&nbsp;&nbsp;
					<input type="text" placeholder="Search your cloud files" size ="30" ng-model="searchText" class="pull-right">
				</p>
			</h3>
		</div>
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12" ng-controller="file">
			<div ng-show="datos.is_dir">
				<table class="table table-condensed table-hover">
				    <tbody>
				        <tr ng-repeat="file in dropbox | filter:searchText ">
				            <td>
				            	<a id="archivos" href="/dfolder?ruta={{file.path}}">
				            		{{  ::file.path.substring(file.path.lastIndexOf("/")+1) }}
				            	</a>
				            </td>
				            <td>
				            </td>
				            <td class="text-right">
				            	<div class="btn-group text-left">
								  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu dropdown-menu-right" role="menu">
								  	<li><a href="api/download/dropbox?file={{file.path}}"><span class="fa fa-download"></span> Download</a></li>
								    <li><a href="/api/delete/dropbox?file={{file.path}}"><span class="fa fa-times"></span> Delete</a></li>
								    <li><a href="/share/dropbox/?link={{file.path}}"><span class="fa fa-share"></span> Share</a></li>
								    <li class="divider"></li>
								    <li><a href="#"><span class="fa fa-exchange"></span>Rename</a></li>
								  </ul>
								</div>
				            </td>
		        		</tr>
					</tbody>
				</table>
				<p class="centered">{{vacio}}</p>
			</div>
			<div ng-hide="datos.is_dir" class="jumbotron">
				{{::dropbox.path.substring((dropbox.path.length-4),dropbox.path.lastIndexOf("/")+1) }}
				<p class="pull-right">
					<a href="/share/dropbox/?link=<%= ruta %>"> <span class="fa fa-share"></span>Compartir</a>&nbsp;&nbsp;
					<a href="/api/download/dropbox?file=<%= ruta %>"> <span class="fa fa-download"></span>Download</a>&nbsp;&nbsp;
				</p>
			</div>
		</div>
	</div>
<% include ../modals/FolderModal.ejs %>
<% include ../modals/FileModal.ejs %>

</div>
	<% include ../partials/scripts %>
	<script src="/js/angular.min.js"></script>
	<script type="text/javascript">
	angular.module('file', []).controller('file',function($scope, $http){
		$http.get('/api/files/dropbox/root?ruta=<%= ruta %>').success(function(data){
			if(data.is_dir){
				$scope.dropbox = data.contents;
				$scope.datos   = data;
				if(!data.contents[0]){
						$scope.vacio = "This folder is empty"
					}
			}else{
				$scope.dropbox = data;
			}
		});
		$http.get('/view/files/dropbox?file=<%= ruta %>').success(function(data){
			$scope.url=data.url;
		});
	});
	</script>
</body>
</html>
