<!doctype html>
<html>
<head>
	<% include ../partials/head %>
	<script src="/js/angular.min.js"></script>
	<script>
		angular.module('file', []).controller('file',function($scope, $http){
		$http.get('/api/files/google/<%= ruta %>').success(function(data){
					if(data.items[0]){
						$scope.google   = data.items;
						$scope.isFolder = true;
					}else{
						$scope.google   = data.items
						$scope.isFolder = false;
					}
			});
		});
	</script>
</head>
<body>
<% include ../partials/menu.ejs %>
<div ng-app="file" class="container" >
		<div class="page-header">
			<h3><span class="fa fa-home"></span> <a href="/">Home</a>/<%= name.substring(0,name.lastIndexOf(".")) %>
				<p class="pull-right">
					<a title="Add folder" href="#" data-toggle="modal" data-target="#FolderModal">+<span class="fa fa-folder"> </span></a> &nbsp;
					<a title="Upload file" href="#" data-toggle="modal" data-target="#FileModal">+<span class="fa fa-file"> </span></a> &nbsp;&nbsp;&nbsp;
					<input type="text" placeholder=" Search" size ="30" ng-model="searchText" class="pull-right">
				</p>
			</h3>
		</div>
		<div class="row">
			<!-- LOCAL INFORMATION -->
			<div class="col-sm-12" >
				<div ng-controller="file">
					<div ng-show="isFolder">
						<table class="table table-condensed table-hover">
						<!--
						    <thead>
						        <tr>
						            <th><small>Name</small></th>
						            <th class="centered"><small class="text-center">Type</small></th>
						            <th><small class="text-right">Modified</small></th>
						        </tr>
						    </thead>
						    -->
						    <tbody>
						        <tr ng-repeat="file in google | filter:searchText ">
						            <td>
						            	<a href="/gfolder?ruta={{file.id}}&name={{file.title}}&url={{file.alternateLink}}"> <span class="fa fa-{{file.icon}}"></span>{{::file.title }}  </a>
						            </td>
						            <td class="centered">
													<!--
						            		<a class="text-center" href="/share/drive/?drive={{file.title}}&drivelink={{file.downloadUrl}}" >{{::file.fileExtension}}</a>
						            	-->
						            </td>
						            <td class="text-right">
						            	<div class="btn-group text-left">
										  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
										    <span class="caret"></span>
										  </button>
										  <ul class="dropdown-menu dropdown-menu-right" role="menu">
										    <li>
										    <a href="">
										    	<span class="fa fa-times"></span>&nbsp;Delete</a></li>
										    <li><a href="#"><span class="fa fa-exchange"></span>&nbsp;Rename</a></li>
										    <li><a href="#"><span class="fa fa-move"></span> &nbsp;Move</a></li>
										    <li class="divider"></li>
										    <li><a href="{{file.embedLink}}"><span class="fa fa-download"></span> {{ ::file.downloadURL}}&nbsp;Download</a></li>
										  </ul>
										</div>
						            </td>
				        		</tr>
					   		</tbody>
						</table>
					</div>

					<div ng-controller="file" ng-hide="isFolder">
						<p><span class="fa fa-file"></span>&nbsp;<%= name %>
							<p>{{::file}}</p>
							<a class="pull-right" href="/share/drive/?drive=<%= name %>&drivelink=<%= url %>"> <span class="fa fa-share"></span>Compartir</a></p>
						</p>
						<object width="100%" height="800" data="<%= url %>" ></object>
					</div>
				</div>
				</div>
			</div>
		</div>
<% include ../modals/FolderModal.ejs %>
<% include ../modals/FileModal.ejs %>
</div>
	<% include ../partials/scripts %>
</body>
</html>
